<div class="banner-content">
    <h1>Cocktails</h1>
    <p>“Everybody’s got to believe in something. I believe I’ll have another drink.”</p>
    <%= link_to "Add a cocktail", new_cocktail_path %>
</div>

<% @cocktails.each do |cocktail|  %>
<%= link_to cocktail.name, cocktail_path(cocktail) %>
<%end  %>
